body{
    background: #212121;
    color: white;
    font-family: monospace;
    padding: 3px 10px;
}

a{
    color:aqua;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.line{
    display:flex;
    align-items:center;
    align-items:center;
    width:100%;
}

.line .main-text{
    color:coral;    
    font-weight:bold;
}

.line input{
    background:inherit;
    color:white;
    border: none;
    margin-left:5px;
    outline:none;
    font-family:inherit;
    width:95%;
    caret-color: white;
}